.btn__container {
  position: relative;
  width: 100%;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s ease;
  outline: none;
  font-family: inherit;
  z-index: 100;
}

/* Variants */

.btn--primary:hover {
  color: var(--color-punch);
}

.btn--border {
  background: #ffffff11;
  border: 3px ridge var(--color-back);
  backdrop-filter: saturate(180%) blur(2px);
}

/* .btn--cancel {
  background:
    linear-gradient(45deg, transparent 45%, var(--color-metal) 45%, var(--color-metal) 55%, transparent 55%),
    linear-gradient(-45deg, transparent 45%, var(--color-metal) 45%, var(--color-metal) 55%, transparent 55%);
  background-size: 100% 100%;
  border-radius: 4px;
} */

.btn--cancel{
  font-size: var(--sizeXL);
}

.btn--cancel:hover{
  color: var(--color-punch);
}

.btn--border:hover {
  animation: alternat-border .4s ease forwards;
}

.chevron-right {
  background: linear-gradient(65deg, transparent 30%, var(--color-metal) 30%, var(--color-metal) 70%, transparent 70%),
    linear-gradient(-65deg, transparent 30%, var(--color-metal) 30%, var(--color-metal) 70%, transparent 70%);
}

.chevron-right:hover {
  background: linear-gradient(65deg, transparent 30%, var(--color-punch) 30%, var(--color-punch) 70%, transparent 70%),
    linear-gradient(-65deg, transparent 30%, var(--color-punch) 30%, var(--color-punch) 70%, transparent 70%);
  background-position: 0 0, 0 100%;
  background-repeat: repeat-x;
  background-size: 20% 50%;
  width: 100%;
  height: 100%;
}

.chevron-left {
  background: linear-gradient(-65deg, transparent 30%, var(--color-metal) 30%, var(--color-metal) 70%, transparent 70%),
    linear-gradient(65deg, transparent 30%, var(--color-metal) 30%, var(--color-metal) 70%, transparent 70%);
}

.chevron-left:hover {
  background: linear-gradient(-65deg, transparent 30%, var(--color-punch) 30%, var(--color-punch) 70%, transparent 70%),
    linear-gradient(65deg, transparent 30%, var(--color-punch) 30%, var(--color-punch) 70%, transparent 70%);
  background-position: 0 0, 0 100%;
  background-repeat: repeat-x;
  background-size: 20% 50%;
  width: 100%;
  height: 100%;
}

.chevron-left,
.chevron-right {
  transition: .4s ease all;
  background-position: 0 0, 0 100%;
  background-repeat: repeat-x;
  background-size: 25% 50%;
  width: 100%;
  height: 100%;
}

.chevron-left:hover,
.chevron-right:hover {
  animation: alternat-opacity .3s ease-in-out forwards;
}


/* Sizes */
.btn--sizeS {
  padding: 5px 10px;
  font-size: var(--sizeS);
}

.btn--sizeM {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  min-height: 2.75rem;
}

.btn--sizeL {
  padding: 1rem 2rem;
  font-size: 1.125rem;
  min-height: 3.25rem;
}

.btn--sizeMax {
  width: 40%;
  height: min-content;
}

/* States */
.btn--disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

@keyframes alternat-border {

  0%,
  40% {
    border: 3px ridge var(--color-punch);
  }

  20%,
  60% {
    border: 3px ridge var(--color-back);
  }

  100% {
    border: 3px ridge var(--color-punch);
  }
}

@keyframes alternat-opacity {

  0%,
  40% {
    opacity: 1;
  }

  10%,
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}