.fighter-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: clamp(350px, 90vw, 1000px);
  margin: 0vh auto;
}

.carousel__view {
  margin: 0vh 0 10vh;
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 5vh;
  flex-direction: column;
  overflow: hidden;
}

.carousel__btns {
  display: flex;
  position: relative;
  gap: 10vw;
  padding: 0 5vw;
  width: 100%;
  height: 7vh;
}

.turn180{
  transform: translate(180deg);
}

.carousel__btn{
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: var(--color-punch);
}

.carousel__track {
  display: flex;
  height: min-content;
  align-items: center;
  height: min-content;
  transition: transform 0.3s ease;
}

.carousel__slide {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}