.fighter-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px dashed red;
  height: auto;
  width: clamp(350px, 90vw, 1200px);
  margin: 5vh auto;
}

.carousel__view {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
}

.carousel__btns {
  display: flex;
  position: relative;
  gap: 10vw;
  padding: 0 5vw;
  width: 100%;
  height: 7vh;
}

.turn180{
  transform: translate(180deg);
}

.carousel__btn{
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: var(--color-punch);
}

.carousel__track {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
}

.carousel__slide {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}