.artist-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 100%,
            var(--color-punch) 0%,
            var(--color-back) 70%);
}
.artists-title{
    position: relative;
    height: auto;
    font-size: 3rem;
    margin-bottom: 10vh;
    z-index: 3;
}
.artist {
    position: relative;
    transform: translateY(20px);
    width: 100vw;
    height: 80vh;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        width: min(70vw, 500px);
        object-fit: contain;
    }
}

.artist-left,
.artist-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.artist-left {
    transform: translateX(30%);
    z-index: 10;
    img {
        clip-path: polygon(10% 100%, 10% 77%, 4% 63%, 6% 49%, 4% 44%, 17% 27%, 34% 24%, 38% 20%, 39% 16%, 36% 14%, 36% 11%, 40% 10%, 42% 5%, 45% 2%, 52% 0%, 60% 0%, 65% 0%, 70% 3%, 75% 7%, 78% 8%, 79% 12%, 76% 16%, 73% 17%, 79% 19%, 79% 24%, 82% 29%, 89% 33%, 94% 44%, 96% 49%, 97% 58%, 93% 61%, 88% 75%, 86% 77%, 83% 78%, 79% 83%, 78% 95%, 81% 100%);
        background-color: var(--color-punch);
        transform: scaleX(-1);
    }
}

.artist-right {
    transform: translateX(-30%);
    filter: drop-shadow(1px 1px 2px transparent) contrast(150%) brightness(90%) sepia(0%) hue-rotate(-10deg) saturate(110%);
    clip-path: polygon(7% 100%, 13% 86%, 10% 84%, 5% 70%, 5% 65%, 14% 41%, 17% 35%, 21% 33%, 17% 32%, 15% 30%, 16% 25%, 13% 21%, 10% 21%, 8% 19%, 9% 16%, 11% 16%, 11% 14%, 12% 13%, 10% 11%, 12% 7%, 19% 3%, 29% 1%, 41% 2%, 50% 6%, 51% 12%, 50% 19%, 53% 21%, 59% 25%, 67% 28%, 79% 35%, 88% 39%, 88% 47%, 92% 54%, 98% 63%, 98% 74%, 88% 83%, 84% 83%, 82% 88%, 84% 100%);
    background-color: var(--color-punch);
    .artist-name{
        margin-right: 25%;
    }
}

.artists-principal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.artist-name {
    position: absolute;
    font-size: calc(var(--sizeXL) * 1.5);
    margin-top: 20vh;
    font-weight: bolder;
    font-weight: bold;
    background-image: url('../assets/images/white-crumpled-paper-2.jpg');
    background-size: contain;
    background-clip: text;
    padding-right: 1rem;
    -webkit-text-fill-color: transparent;
    z-index: 10;
}

@media (max-width: 700px) {
    .artists-title{
        top: 0;
        position: absolute;
        margin: 0;
    }
}