.info__container{
    position: relative;
    height: 100%;
    width: 100dvw;
}

.paper{
    height: 1vw;
    transform: translateY(-1vw);
    filter: drop-shadow(-.5vw -.4vw 0 var(--color-metal));
}

.paper svg{
    fill: var(--color-back);
}

.info__figthers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: auto;
}

@media (max-width: 600px) {
    .paper{
        transform: translateY(-4vw) scale(2);
    }
}
