.info__container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-back);
    justify-content: center;
    gap: 5vh;
}

.info-carousel{
    text-transform: uppercase;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: var(--sizeXL);
}

.paper{
    position: absolute;
    top: -1vh;
    left: 0;
    width: 100%;
    height: 0;
    filter: drop-shadow(-.5vw -.4vw 0 var(--color-metal));
}
.paper svg{
    fill: var(--color-back);
}

@media (max-width: 600px) {
    .paper{
        transform: translateY(-4vw) scale(2);
    }
}
