.partners-container{
    position: relative;
    background-color: var(--color-back);
    width: 100%;
    height: 50vh;
    margin-top: 5vh;
}


.partners-container::before{
    background-image: url('../assets/partners/paint-brush.png');
    background-repeat: repeat-x;
    filter: grayscale(.1) contrast(.8);
    background-size: 100% 100%; 
    position: absolute;
    height: 100px;
    content: '';
    width: 150%;
    left: -10%;
}