.poster__container {
  position: absolute;
  width: 100dvw;
  height: 95dvh;
  /* padding-right: 10px; */
  padding: 5dvh 5dvh 0dvh;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: space-evenly;
  align-items: start;
}

.poster__left, .poster__right{
  position: relative;
  width: min(50%, 550px);
  height: 100%;
}

.fighters-left, .fighters-right{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: visible;
  justify-content: flex-end;
  gap: 10px;
}

.fighter-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mask-image: linear-gradient(to bottom, #000000 85%, transparent 100%);
}

.fighter-pic{
  transition: ease 0.3s ;
  filter: grayscale(1);
  z-index: 6;
  width: min(95%, 400px);
}

.fighter-name{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
   -webkit-text-stroke: .5px var(--color-font);
  /* text-shadow: 0px 0px 2px var(--color-font); */
  background: linear-gradient(30deg, var(--color-metal) 35%, var(--color-font), var(--color-metal) 65%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--sizeL);
  text-align: center;
  width: min(80%, 300px);;
  padding: 0.5rem;
  z-index: 11;
}

.fighter:nth-child(5){
  translate: 5% 10%;
}
.fighters-right .fighter-pic:nth-child(5){
  translate: -5% 10%;
}

.fighter-pic:nth-child(1){
  position: absolute;
  right: 37%;
  bottom: 4%;
  width: min(80%, 350px);
  z-index: 5;
}
.fighters-right .fighter-pic:nth-child(1){
  left: 37%;
}

.fighter-pic:nth-child(2){
  position: absolute;
  right: 70%;
  bottom: min(calc(8vw + 5vh), 120px);
  width: min(75%, 325px);
  z-index: 4;
}
.fighters-right .fighter-pic:nth-child(2){
  left: 65%;
}

.fighter-pic:nth-child(3){
  position: absolute;
  right: 40%;
  bottom: min(calc(14vw * 2), 260px);
  width: min(70%, 300px);
  z-index: 3;
}
.fighters-right .fighter-pic:nth-child(3){
  left: 40%;
}

.fighter-pic:nth-child(4){
  position: absolute;
  right: 62%;
  bottom: min(calc(20vw * 2), 350px);
  width: min(65%, 275px);
  z-index: 2;
}

.fighters-right .fighter-pic:nth-child(4){
  left: 62%;
}

.fighter-pic:nth-child(5){
  position: absolute;
  right: 55%;
  bottom: min(calc(27vw * 2), 500px);
  width: min(60%, 250px);
  z-index: 1;
}
.fighters-right .fighter-pic:nth-child(5){
  left: 55%;
}

.fighters-left{
  .fighter-pic:last-child{
    clip-path: polygon(3% 100%, 4% 91%, 7% 83%, 11% 70%, 20% 67%, 26% 64%, 31% 64%, 41% 59%, 39% 53%, 36% 53%, 36% 50%, 34% 41%, 35% 39%, 34% 36%, 34% 25%, 36% 15%, 45% 11%, 48% 11%, 51% 10%, 54% 10%, 60% 10%, 68% 13%, 74% 21%, 76% 30%, 78% 44%, 77% 49%, 74% 61%, 80% 65%, 82% 66%, 88% 70%, 90% 74%, 98% 78%, 99% 80%, 96% 89%, 99% 100%);
  }
  .fighter-pic:nth-child(1){
    clip-path: polygon(1% 100%, 0% 78%, 5% 72%, 12% 67%, 24% 62%, 34% 59%, 41% 58%, 40% 52%, 36% 50%, 34% 42%, 35% 37%, 37% 36%, 39% 25%, 44% 17%, 49% 14%, 57% 11%, 64% 13%, 68% 15%, 75% 21%, 77% 28%, 77% 36%, 78% 37%, 77% 49%, 72% 64%, 78% 68%, 85% 70%, 86% 72%, 95% 81%, 98% 86%, 100% 99%);
  }
  .fighter-pic:nth-child(2){
    clip-path: polygon(28% 100%, 28% 79%, 7% 74%, 4% 70%, 5% 64%, 8% 61%, 10% 55%, 16% 52%, 25% 50%, 36% 50%, 46% 53%, 49% 45%, 45% 33%, 45% 22%, 51% 15%, 55% 9%, 65% 6%, 74% 7%, 79% 12%, 83% 22%, 85% 33%, 85% 40%, 83% 44%, 82% 52%, 82% 60%, 86% 63%, 92% 65%, 98% 68%, 100% 75%, 100% 87%, 96% 90%, 92% 93%, 85% 97%, 84% 100%);
  }
  .fighter-pic:nth-child(3){
    clip-path: polygon(3% 100%, 4% 92%, 15% 78%, 30% 68%, 30% 66%, 32% 65%, 35% 60%, 35% 48%, 33% 47%, 30% 38%, 32% 33%, 30% 27%, 30% 21%, 30% 19%, 32% 17%, 33% 17%, 37% 13%, 38% 11%, 44% 7%, 51% 5%, 55% 7%, 60% 7%, 75% 15%, 76% 20%, 76% 26%, 75% 33%, 72% 39%, 71% 47%, 69% 54%, 67% 60%, 61% 63%, 58% 72%, 68% 75%, 72% 76%, 82% 79%, 88% 83%, 93% 88%, 96% 94%, 99% 100%);
  }
  .fighter-pic:nth-child(4){
    clip-path: polygon(9% 100%, 8% 96%, 6% 93%, 8% 92%, 7% 85%, 8% 80%, 4% 82%, 3% 79%, 6% 77%, 5% 75%, 2% 77%, 1% 70%, 6% 65%, 8% 57%, 11% 49%, 12% 40%, 15% 28%, 16% 25%, 19% 13%, 22% 8%, 25% 5%, 28% 6%, 31% 6%, 32% 6%, 33% 9%, 34% 9%, 36% 6%, 41% 5%, 44% 5%, 45% 7%, 50% 9%, 52% 9%, 55% 11%, 58% 15%, 62% 24%, 61% 29%, 61% 33%, 60% 37%, 60% 42%, 62% 42%, 64% 41%, 66% 41%, 69% 42%, 72% 44%, 73% 46%, 75% 54%, 85% 74%, 89% 86%, 90% 93%, 90% 99%);
  }
  .fighter-pic:nth-child(5){
    clip-path: polygon(14% 100%, 14% 97%, 14% 87%, 17% 77%, 18% 75%, 24% 72%, 26% 71%, 33% 69%, 34% 66%, 38% 64%, 38% 60%, 36% 56%, 35% 50%, 33% 48%, 32% 39%, 34% 37%, 35% 37%, 35% 32%, 34% 30%, 33% 25%, 35% 20%, 38% 18%, 40% 17%, 44% 15%, 45% 15%, 48% 14%, 53% 15%, 55% 15%, 60% 17%, 63% 20%, 66% 24%, 67% 29%, 66% 32%, 64% 36%, 63% 40%, 65% 41%, 66% 43%, 64% 50%, 63% 52%, 61% 53%, 61% 59%, 63% 60%, 64% 61%, 85% 70%, 86% 73%, 91% 80%, 93% 88%, 94% 100%);
  }
}

.fighters-right{
  .fighter-pic:last-child{
    clip-path: polygon(2% 99%, 4% 92%, 11% 81%, 25% 64%, 30% 59%, 40% 58%, 36% 44%, 37% 29%, 39% 23%, 45% 19%, 50% 13%, 57% 13%, 62% 17%, 69% 24%, 70% 36%, 72% 41%, 73% 49%, 77% 63%, 90% 74%, 95% 81%, 98% 94%, 99% 99%);
  }
  .fighter-pic:nth-child(1){
    clip-path: polygon(4% 100%, 5% 98%, 3% 97%, 3% 96%, 1% 95%, 1% 91%, 2% 90%, 1% 88%, 1% 72%, 3% 71%, 4% 53%, 7% 39%, 12% 35%, 21% 35%, 29% 37%, 32% 40%, 33% 42%, 34% 39%, 34% 36%, 31% 30%, 32% 25%, 33% 20%, 44% 12%, 54% 11%, 60% 12%, 67% 18%, 70% 23%, 72% 30%, 71% 35%, 67% 42%, 70% 43%, 70% 45%, 67% 50%, 68% 53%, 66% 56%, 64% 55%, 65% 59%, 68% 63%, 73% 65%, 85% 72%, 93% 82%, 99% 92%, 100% 100%);
  }
  .fighter-pic:nth-child(2){
    clip-path: polygon(6% 100%, 6% 95%, 10% 81%, 12% 77%, 20% 70%, 22% 65%, 26% 60%, 33% 58%, 37% 59%, 36% 51%, 32% 48%, 29% 42%, 30% 39%, 29% 31%, 30% 22%, 36% 12%, 43% 10%, 48% 10%, 51% 11%, 58% 13%, 65% 18%, 69% 25%, 70% 31%, 70% 36%, 69% 42%, 69% 47%, 68% 50%, 65% 58%, 70% 58%, 74% 60%, 79% 65%, 90% 86%, 92% 89%, 98% 100%);
  }
  .fighter-pic:nth-child(3){
    clip-path: polygon(8% 100%, 8% 91%, 11% 83%, 16% 75%, 18% 74%, 21% 73%, 29% 66%, 39% 56%, 38% 52%, 36% 50%, 35% 48%, 32% 42%, 31% 37%, 33% 36%, 30% 30%, 29% 25%, 31% 15%, 38% 8%, 46% 5%, 54% 5%, 61% 8%, 65% 12%, 68% 18%, 69% 24%, 68% 27%, 70% 26%, 72% 28%, 72% 35%, 72% 40%, 74% 41%, 71% 44%, 71% 48%, 68% 51%, 68% 56%, 73% 58%, 74% 60%, 79% 61%, 87% 67%, 92% 78%, 92% 86%, 91% 91%, 93% 100%);
  }
  .fighter-pic:nth-child(4){
    clip-path: polygon(3% 100%, 6% 91%, 7% 83%, 15% 68%, 18% 66%, 19% 66%, 20% 64%, 21% 58%, 24% 53%, 30% 52%, 30% 51%, 29% 46%, 29% 44%, 28% 38%, 30% 25%, 34% 14%, 39% 9%, 46% 5%, 52% 5%, 60% 7%, 69% 14%, 71% 22%, 72% 29%, 73% 32%, 73% 39%, 72% 44%, 70% 46%, 76% 47%, 80% 57%, 80% 60%, 78% 65%, 79% 67%, 84% 66%, 93% 72%, 95% 82%, 95% 95%, 95% 100%);
  }
  .fighter-pic:nth-child(5){
    clip-path: polygon(8% 99%, 9% 92%, 7% 91%, 5% 88%, 7% 84%, 9% 83%, 10% 76%, 12% 75%, 12% 66%, 20% 59%, 30% 63%, 31% 65%, 30% 68%, 26% 74%, 31% 75%, 36% 72%, 42% 67%, 34% 61%, 28% 53%, 24% 48%, 16% 43%, 14% 37%, 16% 30%, 22% 20%, 30% 15%, 42% 13%, 44% 14%, 49% 15%, 56% 25%, 57% 29%, 58% 31%, 60% 34%, 61% 35%, 61% 38%, 70% 48%, 72% 49%, 73% 51%, 77% 52%, 78% 54%, 87% 57%, 93% 62%, 95% 70%, 98% 86%, 96% 100%);
  }
}

.fighter-pic {
  transition: transform 0.3s ease;
}

.fighter-pic.hovered {
  transform: scale(1.1);
  mask-image: linear-gradient(to bottom, #000000 85%, transparent 100%);
  z-index: 10;
  filter: grayscale(0) blur(0.5px) saturate(0.7) contrast(1.4) brightness(1.1);
}

.fighters-right{
  align-items: flex-start;
}