.auth-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000CC;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.auth{
    width: 500px;
    height: 50vh;
    background-color: var(--color-kick);
}

