@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root{
  --color-kick: #53fc18;
  --color-punch: #fe0a09;
  --color-back: #000000;
  --color-font: #EEEEEE;
  --color-metal: #9f9f9f;
  --color-shadow: #373737;
  --sizeXL: calc((50vw + 100vh) / 40);
  --sizeL: calc((50vw + 100vh) / 50); 
  --sizeM: calc((50vw + 100vh) / 60);
  --sizeS: calc((50vw + 100vh) / 80);
  scrollbar-color: transparent trasparent;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('../src/assets/generic/cursor.cur'), auto;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  font-size: var(--sizeS);
}

html {
  width: 100dvw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible ;
  scroll-behavior: smooth;
}

body{
  width: 100dvw;
  overflow-x: hidden;
  background-color: var(--color-back);
}

input{
  padding: calc(var(--sizeS) * 0.4);
  caret-color: var(--color-punch);
  border: 2px solid var(--color-shadow);
  background-color: var(--color-back);
}

input:focus {
  outline: none;
} 

button, a, a > img {
  cursor: url('../src/assets/generic/pointer.cur'), pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--sizeS);
}

svg{
  fill: var(--color-font);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: black;
}

/* selection css */
::selection {
  background: var(--primary-color);
  color: var(--bg-color);
}
::-moz-selection {
  background: var(--color-kick);
  color: var(--color-back);
}