@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root{
  --sizeXL: calc((50vw + 100vh) / 40);
  --sizeL: calc((50vw + 100vh) / 50); 
  --sizeM: calc((50vw + 100vh) / 60);
  --sizeS: calc((50vw + 100vh) / 80);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('../src/assets/generic/cursor.cur'), auto;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  font-size: var(--sizeS);
}

button, a, a > img {
  cursor: url('../src/assets/generic/pointer.cur'), pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--sizeS);
}