.luchador__container {
    position: relative;
    height: auto;
    width: 100dvw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.luchador__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/wall-sf-2.jpg');
    filter: contrast(150%) brightness(30%) sepia(100%) hue-rotate(320deg) saturate(1000%);
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: multiply;
    background-size: cover;
    image-rendering: crisp-edges;
    z-index: -1;
}

.luchador__fighter{
    position: absolute;
}

.luchador__fighter img {
    transition: all .3s ease;
    height: auto;
    width: min(60vw, 800px);
    object-fit: contain;
    image-rendering: crisp-edges;
    filter: drop-shadow(0 0 0px transparent) contrast(150%) brightness(110%) sepia(0%) hue-rotate(-10deg) saturate(100%);
    mask-image: linear-gradient(to bottom, #000000 90%, transparent 99%);
}


.luchador__fighter img:hover {
    transition: all .3s ease;
    filter: drop-shadow(0 0 20px var(--color-punch))
            contrast(150%) brightness(110%) sepia(0%) hue-rotate(-10deg) saturate(100%);
}

.luchador__social{
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    .social-link{
        display: flex;
    }
    .social-link img{
        width: calc(var(--sizeL) * 1.5);
    }
}

.luchador-data{
    margin: 5vh 0;
    width: min(90vw, 1400px);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    pointer-events: none;
    justify-content: space-between;
    z-index: 2;
    h3{
        color: var(--color-metal);
        font-size: 15px;
    }
    span{
        color: var(--color-white);
    }
    .col{
        gap: 1rem;
    }
    .row{
        background-color: #00000099;
        padding: 1rem 2rem;
        border: 2px solid var(--color-punch);
        margin: 5vh 0;
    }
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: var(--sizeS);
    margin-top: var(--sizeM);
}

.social-link img{
    width: calc(var(--sizeL) * 2);
}

.luchador__info{
    width: min(80vw, 400px);
}

@media (orientation: portrait) {
    .luchador__fighter{
        position: relative;
    }
    .luchador-data{
        margin: 0;
        flex-direction: column-reverse;
        .row{
            width: 100%;
            text-align: center;
        }
    }
    
}