.luchador__container {
    position: relative;
    height: auto;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.luchador__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/wall-sf-2.jpg');
    filter: contrast(150%) brightness(30%) sepia(100%) hue-rotate(320deg) saturate(1000%);
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: multiply;
    background-size: cover;
    image-rendering: crisp-edges;
    z-index: -1;
}

.luchador__fighter {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        transform: translateY(-7vh);
        width: 100%;
        text-align: center;
        position: relative;
        height: 5rem;
        font-size: calc(var(--sizeXL) * 1.5);
        width: 100%;
    }

    img {
        transition: all .3s ease;
        width: min(80vw, 800px);
        object-fit: contain;
        image-rendering: crisp-edges;
        filter: drop-shadow(0 0 0px transparent) contrast(150%) brightness(110%) sepia(0%) hue-rotate(-10deg) saturate(100%);
        mask-image: linear-gradient(to bottom, #000000 90%, transparent 99%);
    }

    img:hover,
    .luchador__social .social-link:hover {
        transition: all .3s ease;
        filter: drop-shadow(0 0 10px var(--color-punch)) contrast(150%) brightness(110%) sepia(0%) hue-rotate(-10deg) saturate(100%);
    }

    .luchador__social {
        position: relative;
        display: flex;
        height: min-content;
        flex-direction: row;
        gap: 3vw;

        .social-link {
            display: flex;
        }

        .social-link img {
            width: calc(var(--sizeL) * 1.5);
            height: 5rem;
            padding-bottom: 5vh;
        }
    }
}

.luchador-data {
    position: absolute;
    width: min(95vw, 1300px);
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;

    .luchador__stats {
        display: flex;
        gap: 2rem;
        padding: 2% 5%;
        background-color: #00000099;
        padding: 1rem 2rem;
        backdrop-filter: blur(2px);
        border: 2px solid var(--color-punch);
    }

    .luchador__info {
        max-width: 300px;
    }
}

@media (max-width: 700px) {
    .luchador-data {
        position: relative;
        flex-direction: column;
        justify-content: center;
        gap: 5vh;

        .luchador__stats {
            display: flex;
        }

        .luchador__info {
            max-width: 90%;
        }
    }

    .luchador__fighter {
        img {
            transform: translateY(10vh);
        }

        h1 {
            top: 15%;
            position: absolute;
            font-size: calc(var(--sizeXL) * 1.5);
        }

        .luchador__social {
            position: absolute;
            bottom: 12%;

        }
    }

}